'''
mmpy_bot
'''
PLUGINS = ['plugins']

SSL_VERIFY = True  # Whether to perform SSL cert verification

BOT_URL = 'http://<mm.example.com>/api/v4'  # with 'http://' and with '/api/v4' path. without trailing slash.
BOT_LOGIN = '<bot-email-address>'
BOT_PASSWORD = '<bot-password>'
BOT_TOKEN = None # or '<bot-personal-access-token>' if you have set bot personal access token.
BOT_TEAM = '<your-team>'  # possible in lowercase

'''
MS-LUIS
'''
LUIS_APP_ID = ''
LUIS_APP_KEY = ''